.accountList_container{
    padding: 1.2rem;
}

.accountList_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom : 2px;
    border-bottom: 1.2px solid #666;
}
.accountList_header h2{
    font-size: 1.2rem;
}
 select{
    float: right;
    height: 2rem;
    width: auto;
   border-radius: 8px;
    
}