.item {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin: 1.2rem 0;
    font-size: 0.8rem;
    border-radius: 2px;
}

/* .item_title{
   
    
    justify-content: space-between;
    align-items: flex-end;
    
} */
.item strong{
    flex-grow: 1;
    font-size: 1rem;
}
.item.income{
    border-right: 5px solid #5ADB5A;

}

.item.expense {
    border-right: 5px solid red;
}