.item {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin: 1.2rem 0;
    font-size: 0.8rem;
    border-radius: 2px;
}
.item_title{
    display: flex;
    
}
.item_title_button{
    display: none;
        justify-content: center;
        align-items: center;
        width: 17px;
        height: 17px;
        padding: 0;
        margin: 16px 5px 4px 0;
        border: none;
        background-color: transparent;
        text-align: center;
        letter-spacing: 0;
        cursor: pointer;
}
.item strong{
    flex-grow: 1;
    font-size: 1rem;
}
.item.income{
    border-right: 5px solid #5ADB5A;

}

.item.expense {
    border-right: 5px solid red;
}