.item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.item_title{
    display: flex;
    justify-content: space-between;
        align-items: center;
}


.green{

}
