.pocket_status{
    border-radius: 4px;
   
    padding: 1.2rem;
}   

.pocket_status_title{
    color: gray;
}

.pocket_status_cost{
    font-size: 1.4rem;
}

.pocket_status_detail{
    border-radius: 2px;
    /* border: 1px solid gray; */
    padding: 1.2rem;
    margin-top: 0.5rem ;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    display: flex;
    justify-content: space-around;

}
.pocket_status_detail_income{
    display: flex;
    flex-direction: column;
    
}
.pocket_status_detail_expense {
    display: flex;
    flex-direction: column;
}